* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --button-height: 32px;
  --button-bg: white;
  --button-active-bg: #eee;
  --border-radius: 4px;
  --border-color: #999;
  --border-color-hover: #red;
  --font-size: 14px;
  --color: #333;
}
#app {
  margin: 20px;
}
body {
  font-size: var(--font-size);
}
img {
  max-width: 100%;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
